<!DOCTYPE html>

<html>

    <head>
        {% block head %}
        {% endblock %}
    </head>

    <body>
    <a href="/get_users">Users</a>
    <a href="/get_units">Units</a>
        <div>
        {% block body %}
        {% endblock %}
        </div>
    </body>

</html>