{% extends "base.html" %}

{% block head %}
    <title>GeliosPro | Units</title>
{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>ID</th>
            <th>Login</th>
            <th>Admin</th>
        </tr>
        {% for unit in units %}
            <tr>
                <td>{{ unit.id }}</td>
                <td>{{ unit.name }}</td>
                <td>{{ unit.creator }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}