{% extends "base.html" %}

{% block head %}
    <title>GeliosPro | Users</title>
{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>ID</th>
            <th>Login</th>
            <th>Admin</th>
            <th>Auth key</th>
            <th>Address base</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.login }}</td>
                <td>{{ user.is_admin }}</td>
                <td>{{ user.auth_key }}</td>
                <td>{{ user.address_base }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}